@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme] {
  color: hsl(var(--nextui-foreground));
  background-color: #16161d;
}

.bg-background\/70 {
  background-color: #dadae4;
}
